<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BlogNext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_Registration</display-name>
    <servlet-name>User_Registration</servlet-name>
    <servlet-class>Servlet.User_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Registration</servlet-name>
    <url-pattern>/User_Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBlogsServlet</display-name>
    <servlet-name>AllBlogsServlet</servlet-name>
    <servlet-class>Servlet.AllBlogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBlogsServlet</servlet-name>
    <url-pattern>/AllBlogsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteBlog</display-name>
    <servlet-name>WriteBlog</servlet-name>
    <servlet-class>Servlet.WriteBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteBlog</servlet-name>
    <url-pattern>/WriteBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>Servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneBlog</display-name>
    <servlet-name>OneBlog</servlet-name>
    <servlet-class>Servlet.OneBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneBlog</servlet-name>
    <url-pattern>/OneBlog</url-pattern>
  </servlet-mapping>
</web-app>